<!DOCTYPE HTML>
<html>

<head>
	<title>Phishing Detection Using ML</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<!-- Bootstrap Core CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel='stylesheet'
		type='text/css' />
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- //Custom Theme files -->

	<!-- External css file added here -->
	<link rel="stylesheet" href="./style.css">
</head>


<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
	
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1">Phising Website</span>
			</div>
	
			<form class="d-flex">
				<div class="container-fluid"> <a class="navbar-brand" href="./About.html">About us</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
	
				</div>
			</form>
		</div>
		</div>
	</nav>



	<!-- Default form login -->
	<form method="post" action="/" class="text-center border border-light p-5" cl
		style="width:400px;height:350px; margin-left:35%;margin-top:5%">


		<!-- Heading -->
		<p class="h4 mb-4"><b>Phishing Detection Using ML</b></p>


		<!-- search Box -->
		<div class="md-form form-sm mb-5" id="search">
			<input type="url" id="url" class="form-control form-control-sm validate" name="url" required>
			<label data-error="wrong" data-success="right" style="font-weight: bold" for="url">Enter the website
				URL</label>
		</div>


		<!-- Submit Button -->
		<div class="text-center form-sm mt-2">
			<button class="btn btn-info" type="submit" name="search"> Submit <i class="fa fa-search"
					style="font-size: 15px;"></i></button>
		</div>

	</form><br>


	<!-- Footer  -->
	<div class="footer-bottom">
<!--		<p>Created by:- <a href="#">Mihir Joshi</a></p>-->

	</div>
	<!-- 
<footer style="text-align: center;">
	Created by Mihir Joshi
</footer> -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- js-->
	<!-- MDB core JavaScript -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>

</html>
